form {
	width: 100%;
}
 	div.replies {
		margin-left: 100px;
	}
		div.reply {
			border-left: 2px solid #56d756;
			padding: 0 10px;
		}
			h4 {
				position: relative;
			}
			h4 span {
				position: absolute;
				font-style: italic;
				font-size: 14px;
				right: 0;
				font-weight: 400;
			}